<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.operando.operandoapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Request Filters -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeAppCompatLight">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wifi.AccessPointsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Access"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.operando.operandoapp.MainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.operando.operandoapp.MainActivity" />
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.operando.operandoapp.MainActivity" />
        </activity>
        <activity
            android:name=".filters.response.ResponseFiltersActivity"
            android:label="@string/response_filters"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.operando.operandoapp.MainActivity" />
        </activity>
        <activity
            android:name=".filters.domain.DomainFiltersActivity"
            android:label="@string/domain_filters"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.operando.operandoapp.MainActivity" />
        </activity>
        <activity
            android:name=".filters.domain.DomainManagerActivity"
            android:label="@string/title_activity_domain_manager"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".filters.domain.PermissionsPerDomainActivity"
            android:label="@string/title_activity_permissions_per_domain"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".wifi.TrustedAccessPointsActivity"
            android:label="@string/title_activity_trusted_access_points"
            android:parentActivityName=".MainActivity"/>

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver
            android:name=".service.receivers.BootEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.receivers.ConnectivityStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.receivers.NotificationActivityReceiver"
            android:enabled="true"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            -->
        </receiver>

        <service
            android:name=".service.BootNotificationService"
            android:enabled="true" />
        <service
            android:name=".service.ProxyService"
            android:enabled="true" />

    </application>

</manifest>
